.pag {
  margin: 0 auto;
  width: calc(100% - 100px);
}

.pag__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.pag__list-item {
  margin: 0;
  padding: 0;
  cursor: pointer;
}